<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<body layout:fragment="content">
		 <div class="page-header">
			  <h3>Cliente</h3>
		</div>
		<form method="post" th:action="@{/clientes/salvar}" th:object="${cliente}">
			<input type="hidden" th:field="*{id}" />
			<div th:class="${'form-group ' + (#fields.hasErrors('nome') ? 'has-error has-danger' : '' ) }">
				<label for="nome">Nome:</label>
    			<input type="text" class="form-control" id="nome" th:field="*{nome}" />
    			<div th:if="${#fields.hasErrors('nome')}" class="help-block with-errors"><ul class="list-unstyled"><li th:each="erro : ${#fields.errors('nome')}" th:text="${erro}"></li></ul></div>
  			</div>
			<div class="form-group">
				<label for="tipo">Tipo:</label>
    			<select class="form-control" th:field="*{tipo}">
 					<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.nome}"></option>
				</select>
  			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
				<a href="/clientes/" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
			</div>
		</form>
					
	</body>
</html>
