<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<body layout:fragment="content">
		 <div class="page-header">
			  <h3>Ordens de Serviço do cliente <a class="btn btn-success" th:href="'/ordens_servico/novo?id_cliente=' + ${cliente.id}"><i class="glyphicon glyphicon-plus"></i> Nova</a></h3>
		</div>
		<dl>
			<dt>Nome:</dt>
			<dd th:text="${cliente.nome}"></dd>
		</dl>	
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Serviço</th>
		      <th>Data</th>
		      <th>Dias para o termino</th>
		      <th>Valor serviço</th>
		      <th>Total (Com desconto)</th>
		      <th>Pago</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="ordemServico : ${cliente.ordensServico}">
		      <td th:text="${ordemServico.id}"></td>
		      <td><a th:href="${'/servicos/' + ordemServico.servico.id + '/editar'}" th:text="${ordemServico.servico.nome}"></a></td>
		      <td th:text="${#temporals.format(ordemServico.inicio, 'dd/MM/yyyy') + ' à  ' + #temporals.format(ordemServico.fim, 'dd/MM/yyyy')}"></td>
		      <td th:text="${ordemServico.diasParaTermino}"></td>
		      <td th:text="${ordemServico.servico.valor}"></td>
			  <td th:text="${ordemServico.total}"></td>
			  <td th:text="${ordemServico.pago ? 'Sim' : 'Não'}"></td>
		      <td>
 		      	 <a class="btn btn-sm btn-primary" th:href="${'/ordens_servico/' + ordemServico.id}"><i class="glyphicon glyphicon-folder-open"></i> Abrir</a>
 		      	 <a class="btn btn-sm btn-danger" th:href="${'/ordens_servico/' + ordemServico.id + '/remover'}"><i class="glyphicon glyphicon glyphicon-remove"></i> Remover</a>
 		      	 <a th:if="${!ordemServico.pago}" class="btn btn-sm btn-info" th:href="${'/ordens_servico/' + ordemServico.id + '/pagar'}"><i class="glyphicon glyphicon glyphicon-usd"></i> Pagar</a>
 		      	 <a th:if="${ordemServico.pago}" class="btn btn-sm btn-danger" th:href="${'/ordens_servico/' + ordemServico.id + '/cancelar_pagamento'}"><i class="glyphicon glyphicon glyphicon-remove"></i> Cancelar Pagamento</a>
		      </td>
		    </tr>
		  </tbody>
		</table>				
	</body>
</html>